<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Accueil</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="candidat">
        <ion-label>Candidats</ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="setting">
        <ion-label>Paramètres</ion-label>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>